html, body {
  height: 96vh;
}

body {
  font-family: Arial, sans-serif;
  padding: 12px;
  margin: 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.shared-tabs {
  width: 100%;
  max-width: 700px;
  overflow-y: auto;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* --- User section --- */

.user-label {
  width: calc(100% - 8px);
  border-bottom: 2px solid #1d4f2c;
  color: #1d4f2c;
  padding-bottom: 4px;
  font-weight: bold;
  font-size: 12pt;
}

.user-header {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.open-button {
    cursor: pointer;
    height: 35px;
    font-size: 11px;
    max-width: 25%;
    font-weight: 600;
    border: 1px solid #111;
    border-radius: 8px;
    padding: auto;
    background-color:rgb(214, 70, 202);
    color: white;
}

.edit-nickname-button {
  margin-left: 8px;
  font-size: 12pt;
  cursor: pointer;
  background: none;
  border: none;
  color: #1d4f2c;
}

.input-readonly {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
    color: inherit;
    font: inherit;
}

.input-editable {
    border: 1px solid #ccc;
    background: #fff;
    padding: 4px 6px;
    outline: auto;
    pointer-events: auto;
}

/* --- Controls --- */

.controls {
  display: flex;
  justify-content: center;
}

.controls .primary {
  padding: 8px 16px;
  margin: 10px auto;
  background-color: #1d4f2c;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.confirmButton {
    background: green; 
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 8px;
}
.confirmButton:hover {
    background: #296b27ff
}
.cancelButton {
    background: #e6361bff; 
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 8px;
}
.cancelButton:hover {
    background: rgb(155, 32, 13);
}

/* --- Action buttons (Confirm + Cancel) --- */

.actions {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.actions button {
  padding: 8px 16px;
  display: none;
}

.min-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
}

#all-users {
  margin-top: auto;
}