body {
  width: 200px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.sidebarButton {
  display: flex;
  justify-self: right;
  margin-top: 8px;
  background: none;
  border: none;
  text-decoration: underline;
  font-weight: bold;
  color: rgb(255, 136, 0);
}

.sidebarButton:hover {
  cursor: pointer;
}